#canvas {
    display: block;

    margin: auto;
}

#content {
    width: 0;
    height: 0;
}

div.centered {
    left: 50%;
    top: 50%;

    position: absolute;

    display: block;

    transform: translate(-50%, -50%);
}
